.caixa {
    background-color: black;
    text-align: center;
    background-position: center;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
label{
    size: 40px;
    color: white;
}

body{
    background-color: aquamarine;
    text-align: center;
}
