body{
    margin: 0;
    font-size : 28px;
    font-family: "https://fonts.google.com/specimen/Manrope";
}
.caixa {
    display: flex;
    height: 100px;
    width: 100px;
  }
.mensagem{
    height: 50px;
    width: 50px;
}
.caixa .sorteio{
    background-image: url("./images/icon-dice.svg");
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
